{{- if .Values.elasticsearch.enabled -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "mastodon.fullname" . }}-chewy-upgrade
  labels:
    {{- include "mastodon.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "-1"
spec:
  template:
    metadata:
      name: {{ include "mastodon.fullname" . }}-chewy-upgrade
      {{- with .Values.jobAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      restartPolicy: Never
      {{- if (not .Values.mastodon.s3.enabled) }}
      # ensure we run on the same node as the other rails components; only
      # required when using PVCs that are ReadWriteOnce
      {{- if or (eq "ReadWriteOnce" .Values.mastodon.persistence.assets.accessMode) (eq "ReadWriteOnce" .Values.mastodon.persistence.system.accessMode) }}
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/part-of
                    operator: In
                    values:
                      - rails
              topologyKey: kubernetes.io/hostname
      {{- end }}
      {{- end }}
      {{- with (default .Values.podSecurityContext .Values.mastodon.web.podSecurityContext) }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.mastodon.extraVolumes (not .Values.mastodon.s3.enabled) }}
      volumes:
      {{- if (not .Values.mastodon.s3.enabled) }}
        - name: assets
          persistentVolumeClaim:
            claimName: {{ template "mastodon.pvc.assets" . }}
        - name: system
          persistentVolumeClaim:
            claimName: {{ template "mastodon.pvc.system" . }}
      {{- end }}
      {{- if gt (len .Values.mastodon.extraVolumes) 0 }}
      {{- toYaml .Values.mastodon.extraVolumes | nindent 8 }}
      {{- end }}
      {{- end }}
      containers:
        - name: {{ include "mastodon.fullname" . }}-chewy-setup
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - bundle
            - exec
            - rake
            - chewy:upgrade
          envFrom:
            - configMapRef:
                name: {{ include "mastodon.fullname" . }}-env
            - secretRef:
                name: {{ template "mastodon.secretName" . }}
          env:
            - name: "DB_PASS"
              valueFrom:
                secretKeyRef:
                  name: {{ template "mastodon.postgresql.secretName" . }}
                  key: password
            - name: "REDIS_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "mastodon.redis.secretName" . }}
                  key: {{ .Values.redis.auth.existingSecretPasswordKey }}
            {{- if and .Values.redis.sidekiq.enabled .Values.redis.sidekiq.auth.existingSecret }}
            - name: "SIDEKIQ_REDIS_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "mastodon.redis.sidekiq.secretName" . }}
                  key: {{ .Values.redis.auth.existingSecretPasswordKey }}
            {{- end }}
            {{- if and .Values.redis.cache.enabled .Values.redis.cache.auth.existingSecret }}
            - name: "CACHE_REDIS_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "mastodon.redis.cache.secretName" . }}
                  key: {{ .Values.redis.auth.existingSecretPasswordKey }}
            {{- end }}
            - name: "PORT"
              value: {{ .Values.mastodon.web.port | quote }}
          {{- if or .Values.mastodon.extraVolumeMounts (not .Values.mastodon.s3.enabled) }}
          volumeMounts:
          {{- if (not .Values.mastodon.s3.enabled) }}
            - name: assets
              mountPath: /opt/mastodon/public/assets
            - name: system
              mountPath: /opt/mastodon/public/system
          {{- end }}
          {{- if gt (len .Values.mastodon.extraVolumeMounts) 0 }}
          {{- toYaml .Values.mastodon.extraVolumeMounts | nindent 12 }}
          {{- end }}
          {{- end }}
{{- end }}
